.video__item-bg {
    width: 583px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (min-width: 1440px) {
    .video__item-bg {

    }
}

@media screen and (max-width: 1279px) {
    .video__item-bg {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

@media screen and (max-width: 1023px){
    .video__item-bg {

    }
}

@media screen and (max-width: 767px){
    .video__item-bg {

    }
}

@media screen and (max-width: 374px) {
    .video__item-bg {

    }
}