.additional__text {
    width: 248px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    position: absolute;
    left: 18px;
    bottom: 30px;
    margin: 0 0;

}

@media screen and (min-width: 1440px) {
    .additional__text {

    }
}

@media screen and (max-width: 1279px) {
    .additional__text {
        left: 18px;
        bottom: 30px;
        width: calc(100% - 32px);
    }
}

@media screen and (max-width: 1023px){
    .additional__text {
        width: calc(100% - 36px);
        left: 18px;
        bottom: 30px;
    }
}

@media screen and (max-width: 767px){
    .additional__text {
        width: calc(100% - 36px);
        left: 18px;
        bottom: 30px;
    }
}

@media screen and (max-width: 374px) {
    .additional__text {
        width: calc(100% - 36px);
        left: 18px;
        bottom: 30px;
    }
}