.place__url {
    width: 484px;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__url:hover {
    opacity: .7;
}

@media screen and (min-width: 1440px) {

}

@media screen and (max-width: 1279px) {
    .place__url {
        width: 100%;
    }
}
