.cover__subtitle {
    width: 382px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-weight: normal;
    position: absolute;
    left: 401px;
    bottom: 48px;
    margin: 0 0;

}

@media screen and (min-width: 1440px) {
    .cover__subtitle {

    }
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        width: calc(100% - 2*321px);
        left: 321px;
        bottom: 35.82px;
    }
}

@media screen and (max-width: 1023px){
    .cover__subtitle {
        width: calc(100% - 2*193px);
        left: 193px;
        bottom: 40px;
    }
}

@media screen and (max-width: 767px){
    .cover__subtitle {
        width: calc(100% - 2*16px);
        left: 16px;
        bottom: 24px;
        font-size: 14px;
        line-height: 17px;

    }
}


@media screen and (max-width: 374px) {
    .cover__subtitle {
        width: calc(100% - 2*16px);
        left: 16px;
    }
}