.additional__content-subtitle {
    width: 640px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    text-align: center;
    margin: 48px 320px 72px;
}

@media screen and (min-width: 1440px) {
    .additional__content-subtitle {
        margin: 0 272px 72px;
    }
}

@media screen and (max-width: 1279px) {
    .additional__content-subtitle {
        width: calc(100% - 351px);
        margin: 0 auto 64px;
    }
}

@media screen and (max-width: 1023px){
    .additional__content-subtitle {
        width: 100%;
        margin: 0 0 56px;
    }
}

@media screen and (max-width: 767px){
    .additional__content-subtitle {
        margin: 0 0 48px;
        font-size: 16px;
        line-height: 23px;
    }
}

@media screen and (max-width: 374px) {
    .additional__content-subtitle {
        margin: 0 0 48px;
    }
}