.footer__copyright {
    width: 282px;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 20px;
}

@media screen and (min-width: 1440px) {

}

@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 1023px){
    .footer__copyright {
        line-height: 23px;
        margin: 0 0;
    }
}

@media screen and (max-width: 767px){
.footer__copyright {
    text-align: left;
    margin-top: 16px;
}
}

@media screen and (max-width: 374px) {
}